*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 60px;
}
body{
    background-color: azure;
    padding: 60px;
}
.item{
    background-color: white;
    width: 200px;
    margin-left: 40px;
    border-radius: 10px;
    text-align: center;
    height: 20vh;
    padding: 20px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    transform: 1s;
    transition: transform 0.3s ease-out;
}


.container{
    display: flex;
    flex-wrap: wrap;
}
.item:hover{
    transform: translateY(-10px);
}