* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: red; 
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
    height: 15vh;
    margin: 0;
    padding: 0;
}
header img{
    float: left;
    margin: 20px auto;
    margin-left: 10px;
}
nav{
    background-color: lightskyblue; 
    padding: 15px;
    margin-bottom: 10px;
    text-align: center;
    height: 12vh;
    margin: 0;
    padding: 0;
}
li{
    display: inline-block;
    margin: 0 15px;
    padding: 10px 15px;
    font-size: 20px;
}
aside{
    background-color: lightseagreen; 
    width: 25%;
    float: left;
    height: 55vh;
    padding: 20px;
}
section{
    background-color:antiquewhite; 
    width: 75%;
    float: left;
    padding: 5px;
    height: 55vh;
    
}
article{
    background-color: rgb(134, 255, 100);
    padding: 30px;
    margin-top: 15px;
    text-align: center;
    height: 15vh;
}


footer {
    background-color: limegreen; 
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    clear: both; 
    height: 15vh;
    padding-top: 50px;
}